/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/demos/.deps/
/demos/Makefile
/demos/Makefile.in
/docs/Makefile
/docs/Makefile.in
/docs/reference/Makefile
/docs/reference/Makefile.in
/examples/Makefile
/examples/Makefile.in
/examples/canvas/.deps/
/examples/canvas/Makefile
/examples/canvas/Makefile.in
/examples/canvas_affine/.deps/
/examples/canvas_affine/Makefile
/examples/canvas_affine/Makefile.in
/examples/canvas_events/.deps/
/examples/canvas_events/Makefile
/examples/canvas_events/Makefile.in
/libgnomecanvas/Makefile
/libgnomecanvas/Makefile.in
/libgnomecanvas/libgnomecanvasmm-2.6-uninstalled.pc
/libgnomecanvas/libgnomecanvasmm-2.6.pc
/libgnomecanvas/libgnomecanvasmm/.deps/
/libgnomecanvas/libgnomecanvasmm/Makefile
/libgnomecanvas/libgnomecanvasmm/Makefile.in
/libgnomecanvas/libgnomecanvasmm/private/Makefile
/libgnomecanvas/libgnomecanvasmm/private/Makefile.in
/libgnomecanvas/libgnomecanvasmmconfig.h
/libgnomecanvas/src/Makefile
/libgnomecanvas/src/Makefile.in
/libgnomecanvas/stamp-h1
/libgnomecanvasmm.spec
/libtool
/scripts/Makefile
/scripts/Makefile.in
/scripts/compile
/scripts/config.guess
/scripts/config.sub
/scripts/depcomp
/scripts/install-sh
/scripts/ltmain.sh
/scripts/missing
/tools/Makefile
/tools/Makefile.in
/tools/extra_defs_gen/.deps/
/tools/extra_defs_gen/Makefile
/tools/extra_defs_gen/Makefile.in
/tools/m4/Makefile
/tools/m4/Makefile.in
