/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/demos/.deps/
/demos/Makefile
/demos/Makefile.in
/docs/Makefile
/docs/Makefile.in
/docs/reference/Makefile
/docs/reference/Makefile.in
/examples/Makefile
/examples/Makefile.in
/examples/canvas/.deps/
/examples/canvas/Makefile
/examples/canvas/Makefile.in
/examples/canvas_affine/.deps/
/examples/canvas_affine/Makefile
/examples/canvas_affine/Makefile.in
/examples/canvas_events/.deps/
/examples/canvas_events/Makefile
/examples/canvas_events/Makefile.in
/libgnomecanvas/Makefile
/libgnomecanvas/Makefile.in
/libgnomecanvas/libgnomecanvasmm-2.6-uninstalled.pc
/libgnomecanvas/libgnomecanvasmm-2.6.pc
/libgnomecanvas/libgnomecanvasmm/.deps/
/libgnomecanvas/libgnomecanvasmm/Makefile
/libgnomecanvas/libgnomecanvasmm/Makefile.in
/libgnomecanvas/libgnomecanvasmm/private/Makefile
/libgnomecanvas/libgnomecanvasmm/private/Makefile.in
/libgnomecanvas/libgnomecanvasmmconfig.h
/libgnomecanvas/src/Makefile
/libgnomecanvas/src/Makefile.in
/libgnomecanvas/stamp-h1
/libgnomecanvasmm.spec
/libtool
/scripts/Makefile
/scripts/Makefile.in
/scripts/compile
/scripts/config.guess
/scripts/config.sub
/scripts/depcomp
/scripts/install-sh
/scripts/ltmain.sh
/scripts/missing
/tools/Makefile
/tools/Makefile.in
/tools/extra_defs_gen/.deps/
/tools/extra_defs_gen/Makefile
/tools/extra_defs_gen/Makefile.in
/tools/m4/Makefile
/tools/m4/Makefile.in

/demos/.libs/
/demos/arrowhead.o
/demos/canvas.o
/demos/canvas_demo
/demos/canvas_features.o
/demos/curve.o
/demos/fifteen.o
/demos/primitives.o
/demos/richtext.o
/examples/canvas/.libs/
/examples/canvas/canvas.o
/examples/canvas/example
/examples/canvas_affine/.libs/
/examples/canvas_affine/canvas_affine.o
/examples/canvas_affine/example
/examples/canvas_events/.libs/
/examples/canvas_events/canvas_events.o
/examples/canvas_events/example
/libgnomecanvas/libgnomecanvasmm/.libs/
/libgnomecanvas/libgnomecanvasmm/affinetrans.lo
/libgnomecanvas/libgnomecanvasmm/bpath.lo
/libgnomecanvas/libgnomecanvasmm/canvas.lo
/libgnomecanvas/libgnomecanvasmm/ellipse.lo
/libgnomecanvas/libgnomecanvasmm/group.lo
/libgnomecanvas/libgnomecanvasmm/init.lo
/libgnomecanvas/libgnomecanvasmm/item.lo
/libgnomecanvas/libgnomecanvasmm/libgnomecanvasmm-2.6.la
/libgnomecanvas/libgnomecanvasmm/line.lo
/libgnomecanvas/libgnomecanvasmm/path-def.lo
/libgnomecanvas/libgnomecanvasmm/pixbuf.lo
/libgnomecanvas/libgnomecanvasmm/point.lo
/libgnomecanvas/libgnomecanvasmm/polygon.lo
/libgnomecanvas/libgnomecanvasmm/properties.lo
/libgnomecanvas/libgnomecanvasmm/rect-ellipse.lo
/libgnomecanvas/libgnomecanvasmm/rect.lo
/libgnomecanvas/libgnomecanvasmm/rich-text.lo
/libgnomecanvas/libgnomecanvasmm/shape.lo
/libgnomecanvas/libgnomecanvasmm/text.lo
/libgnomecanvas/libgnomecanvasmm/widget.lo
/libgnomecanvas/libgnomecanvasmm/wrap_init.lo
/tools/extra_defs_gen/generate_defs_libgnomecanvas.o
/tools/extra_defs_gen/generate_extra_defs
